<h1>Gr8 T8rs</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Elo score</th>
      <th>Votes total</th>
      <th>Votes won</th>
      <th>Votes lost</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for t8r <- @t8rs do %>
    <tr>
      <td><img src={t8r.image_location} ></td>
      <td><%= t8r.elo_score %></td>
      <td><%= t8r.votes_total %></td>
      <td><%= t8r.votes_won %></td>
      <td><%= t8r.votes_lost %></td>

    </tr>
<% end %>
  </tbody>
</table>
